# IDE
.idea

# Python virtual environment
/venv/

# Python cache files
__pycache__

# Webpack compilation output
/todo_app/static/dist/

# Installed node packages
/node_modules/

# Test framework files
.tox/
*_test_results.xml
